<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 200px;
            background-color: cornflowerblue;
            border-radius: 10px;
            border:2px solid blue;
            padding: 10px;
        }
        input{
            border-radius: 5px;
            padding-bottom: 2px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <form action="submit">
        <label for="text">Text</label>
        <input type="text">
        <label for="password">Password</label>
        <input type="password">
        <label for="email">Email</label>
        <input type="email">
        <button type="submit">Submit</button>
    </form>
</body>
</html>